<div class="container">

    <div class="row">

        <div class="col-md-12">
            <p class="error-404">404</p>

            <p class="lead">Сожалеем, но запрашиваемая вами страница не найдена</p>

            <p>Набранный вами адрес страницы указан неверно или не существует. Вполне возможно, что страница была перемещна или даже удалена с сервера. Вы можете перейти в один из разделов ниже, чтобы узнать больше об услугах предоставляемых стоматологической клиникой «Биодент ЭК». Выберите интересующий вас раздел ниже. </p>
            <ul>
                <li><a href="/">Главная</a>
                </li>
                <li><a href="/about">О нас</a>
                </li>
                <li><a href="/members">Специалисты</a>
                </li>
                <li><a href="/contact">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- /.container -->
