<div class="container">

<div class="row">

    <div class="col-md-12">
        <h1 class="page-header">О нас
            <!-- <small>It's Nice to Meet You!</small> -->
        </h1>
        <ol class="breadcrumb">
            <li><a href="/">Главная</a>
            </li>
            <li class="active">О нас</li>
        </ol>
    </div>
</div>

  <!-- Clinic -->
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-info">Стоматологическая клиника «Биодент ЭК» <br/><small>Наш девиз: Улыбнись миру ослепительной улыбкой!</small></h3>
      <p class="text-justify">Наша стоматологическая клиника «Биодент ЭК» – основана в 2003 году в г. Экибастуз. ТОО «Биодент ЭК»  работает на рынке стоматологических услуг г. Павлодара с 2011 года. За это время стоматология зарекомендовала себя как надёжный партнер, предоставляющий качественные услуги. Так же с 2012 года мы открыли аптеку, где предлагаем населению и предприятиям г.Павлодар и области - стоматологические материалы и лекарственные препараты.</p>
      <p class="text-justify">Клиника работает с новейшими технологиями, которые за последнее время были разработаны в ведущих странах мира (Германия, Япония, США, Франция, Италия). Высококвалифицированные специалисты, оказывают полный комплекс стоматологических услуг. Имеется рентген аппарат, техническая лаборатория, имплантация, лазерный аппарат <a href="http://www.doctor-smile.com/">«Dr.Smile»</a>, <a href="http://www.amdlasers.com/?pages=picasso">«Picasso»</a>.  Современное оборудование оснащено экраном и эндо - видеокамерами, удобные кресла создают потрясающий комфорт пациентам. К каждому клиенту в нашей стоматологии и аптеке особый подход и максимум внимания. Пациенты остаются довольны нашей работой.</p>
      <p class="text-justify">За время своей работы в городе Экибастуз и Павлодар стоматологическая клиника получила широкую известность среди населения. Пациенты хотели бы обслуживаться по карточкам <a href="http://assistance.kz/">ТОО «Медикал Ассистанс»</a> в нашей стоматологии. Открытая нами аптека в г.Павлодар, за недолгое время приобрела известность среди населения и стоматологов, так как у нас имеется широкий ассортимент аптечной и стоматологической продукции.</p>
      <p>Мы работаем со следующими страховыми организациями:  <a href="http://mediker.kz/" target="_blank">ТОО "Медикер"</a>, <a href="http://www.sosmed.kz/" target="_blank">ТОО "SOS Medical Assistance"</a>, <a href="http://www.samalmed.kz/" target="_blank">ТОО "Samal Medical Assistance"</a>.</p>
    </div>
  </div>
  <hr>

<div class="row">
  <div class="col-md-6">
    <img src="img/about/clinic-ekibastuz.png" alt="Клиника в г.Экибастуз" width="100%" />
    <h4>г.Экибастуз</h4>
  </div><!-- /.col-md-6 -->
  <div class="col-md-6">
    <img src="img/about/clinic-pavlodar.png" alt="Клиника в г.Павлодар" width="100%" />
    <h4>г.Павлодар</h4>
  </div><!-- /.col-md-6 -->
</div><!-- /.row -->

<!--   <ul ng-controller="GalleryCtrl">
    <li ng-repeat="image in images">
      <a ng-click="openLightboxModal($index)">
        <img ng-src="{{image.url}}" class="img-thumbnail" />
      </a>
    </li>
  </ul> -->
</div>
