<div class="container">

  <div class="row">

      <div class="col-md-12">
          <h1 class="page-header">Услуги
          </h1>
          <ol class="breadcrumb">
              <li><a href="/">Главная</a>
              </li>
              <li class="active">Услуги</li>
          </ol>
      </div>
  </div>

  <div class="row" scroll-spy>

    <div class="col-md-3 sidebar" id="leftCol">
      <ul class="nav nav-pills nav-stacked" id="sidebar">
        <li>
          <a href="#sec0">Section 0</a>
          <a href="#sec1">Section 1</a>
          <a href="#sec2">Section 2</a>
        </li>
      </ul><!-- /#sidebar.nav nav-stacked -->
    </div><!-- /#leftCol.col-md-3 -->

    <div class="col-md-9">

      <section id="sec0">
        <h2>Content</h2>
        <p>
          At Bootply we like to build simple Bootstrap templates that utilize the code Bootstap CSS without a lot of customization. Sure you can
          find a lot of Bootstrap themes and inspiration, but these templates tend to be heavy on customization.</p>

        <hr>
        <p>
          Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut.
          Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!</p>
      </section><!-- /#sec0 -->

      <section id="sec1">
        <h2>Content</h2>
        <p>
          Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Hello.</h3></div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading"><h3>Hello.</h3></div>
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                Aliquam in felis sit amet augue.
              </div>
            </div>
          </div>
        </div>
      </section><!-- /#sec1 -->
      <!-- <hr> -->

      <section id="sec2">
        <h2 id="sec2">Section 2</h2>
        <p>
          Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut!
        </p>
        <div class="row">
          <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
          <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
          <div class="col-md-4"><img src="//placehold.it/300x300" class="img-responsive"></div>
        </div>
      </section><!-- /#sec2 -->
    </div><!-- /.col-md-9 -->
  </div><!-- /.row -->

<!-- <div class="row">
  <div class="col-md-12">
    <h1 class="text-info">Услуги</h1>
    <h2 class="text-info">Терапевтическая стоматология</h2>
    <p class="text-justify">Терапевтическая стоматология включает в себя полный объем терапевтических услуг: художественная реставрация и восстановление культи зуба, безболезненное лечение кариеса, новые методы эндодонтии при помощи наконечников пьезо, что позволяет качественно пролечить каналы зуба, отбеливание зубов (Dr.Smile - безопасное отбеливание), снятие зубных отложений (air flow, скалер), лечение десен, подготовка к протезированию лазерное лечение (Dr.Smile), система Вектор - лечение пародонтита и переимплантита, профессиональная чистка зубов и микроинвазивного препарирования, физио-лечение (Денас).</p>
    <h2 class="text-info">Хирургическая стоматология</h2>
    <p class="text-justify">Хирургическая стоматология, безболезненное удаление зубов с использованием современных анестезиологических препаратов, удаление молочных зубов.</p>
    <h2 class="text-info">Ортопедическая стоматология</h2>
    <p class="text-justify">Металлокерамика из современных материалов.</p>
    <h2 class="text-info">Детская стоматология</h2>
    <p class="text-justify">Детский стоматологический прием: Все стоматологические манипуляции при лечении детей в клинике безболезненны и нетравматичны. Врачи-стоматологи детского приема клиники «Биодент ЭК» найдут индивидуальный подход к каждому ребенку и научат Вашего малыша правильно заботиться о своих зубках. И в дальнейшем у ребенка не будет боязни зубного врача и он будет с удовольствием посещать стоматолога. Дентальные рентген-аппараты Kodak Dental Systems (Trophy), Франция: Так же в каждая клиника оснащена дентальным рентгеновским аппаратом,  не имеет аналогов по радиационной безопасности и удобству в работе. Надежная и безопасная диагностика Основная цель создания системы KODAK 2100 - решение приоритетной задачи современной рентгенографии, а именно, получение максимально качественного изображения при минимальной дозе облучения.</p>
    <h2 class="text-info">Зуботехническая лаборатория</h2>
    <p class="text-justify">В каждой из наших стоматологических клиник, имеется собственная зуботехническая лаборатория, включающая в себя литейное производство. Металлокерамические печи последнего образца. Лаборатория оснащена самыми современными аппаратами. А квалифицированные техники качественно выполняют свою работу.</p>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <h1 class="text-info">Первоклассное оборудование</h1>
    <h2 class="text-info">Лазер Doctor Smile <small>(Италия)</small></h2>
    <p>Лазерная хирургическая стоматология - без боли и анестезии, без кровотечений, значительно снижен риск заражения ВИЧ и вирусными гепатитами, благодаря отсутствию кровотечения и стерилизующему эффекту, лучшее послеоперационное заживление, лучшая эстетика без наложения швов: лечение и профилактика заболеваний мягких тканей полости рта. Подрезание уздечек у детей (Dr.Smile). Удаление папиллом, родинок, бородавок.</p>
  </div>
</div> -->

</div><!-- /.container -->
